@font-face {
    font-family: avenir;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
  }
@font-face {
    font-family: cardinal;
    src: url(../fonts/fontawesome-webfont.ttf);
  }
body{
    height: 100vh;
    padding:0;
    margin:0;
    /* background:gray; */
    background:url(../images/BackgroundNew.png);
    background-repeat: no-repeat;
   

}
a{
    text-decoration: none;
}
/*===== Header Styles === */
header{
    /* background:blue; */
    width: 93%;
    margin: auto auto;
    left: 0;
    right: 0;
    position: fixed;
    display:flex;
    display: -webkit-flex;
    justify-content:space-between;
    -webkit-justify-content: space-between;
    font-family: "avenir";
    font-size: 12px;
    color:#ffffb3;
}
.menu{
    /* background:green; */
    display:flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items:center;
    justify-content:space-between;
    -webkit-justify-content: space-between;
    width:7%;

}
.menu .shopTextDiv a{
    color: #ffffb3;
    letter-spacing: 3px;
}
.middleLogo p{
    letter-spacing: 12px;
}
.cartItems{
    /* background:blue; */
    margin-right: 10px;
}
.cartItems p {
    letter-spacing:5px;
}
.cartItems p a{
    color:#ffffb3;
    border:1px solid rgba(255, 255, 179, 0.5);
    border-radius: 20px;
    padding:5px;
    padding-left:9px;
    margin:0;
}

/*===== main area === */
.rotatedLogo {
    text-align: center;
    /* background:blue; */
    margin-top:2%;
}
.rotatedLogo img{
    margin-top:9%;
    -webkit-animation: rotation 6s infinite linear;
}
.accesoriesDiv{
    margin-top: 5%;
}

.accesoriesDiv p {
    font-family: "avenir";
    font-size:33px;
    color:#ffffb3;
    font-weight: bold;
    line-height: 40px;
    width:55%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    letter-spacing:10px;
}
.goodHealthDiv p{
    /* background:blue; */
    width:36%;
    margin-left:auto;
    margin-right: auto;
    font-family: "cardinal";
    text-align: center;
    color: rgba(255, 255, 179, 0.8);
    font-size:22px;
}
.january{
    margin-top:-20px;
}
.inputDiv{
    /* background:green; */
    min-height: 50px;
    display:flex;
    display: -webkit-flex;
    margin-top:50px;
    align-items:center;
    -webkit-align-items:center;
}
.inputDiv form{
    /* background:blue; */
    width:30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputDiv form input[type="email"]{
   
    padding:15px;
    background:none;
    width:60%;
    border:1px solid rgba(255, 255, 179, 0.8);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color:#ffffb3;
}
.inputDiv form input[type="email"]:focus{
  outline:none;
  color:#ffffb3;
  /* background:blue; */
}
.inputDiv form input[type="email"]::placeholder{
    color: rgba(255, 255, 179, 0.6);
}
.inputDiv form input[type="submit"]{
    padding:17px;
    background:none;
    width:28%;
    margin-left:-5px;
    color:#ffffb3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #D16432;
    border:none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.inputDiv form input[type="submit"]:hover{
  cursor:pointer;
  background-color: #c35d2e;
}

.iconsDiv{
    /* background:blue; */
    margin-top:28%;
    display:flex;
    display: -webkit-flex;
}
.nothing{
    height:20px;
    /* background-color: aqua; */
}
.icons{
    /* background:greenyellow; */
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.sideMenus{
    width:30%;
    height:100%;
    left:-1500px;
    position: fixed;

    top:0;
    z-index: 99;
    background-color:rgba(51, 51, 51,0.9);
    transition:1s;
}
.sideMenus ul{
    /* background-color:blue; */
    margin-top:40%;
    list-style-type: none;
}
.sideMenus ul li{
    margin:20px;
}
.sideMenus ul li a{
    font-family:"avenir";
    color:#ffffb3;
    font-size:20px;
    letter-spacing:10px;
    font-weight: bold;
}
.sideMenus ul li a:hover{
   
    color:#D16432;
}
.sideMenus ul li span{
    position: relative;
    /* background-color:green; */
    top:-10px;
    font-size:9px;
    left:10px;
    color:#ffffb3;
    font-family: "avenir";
}
.closeButton{
    /* background-color:black; */
    margin-top:15%;
    text-align: right;
}
.closeButton img{
    margin-right: 20px;
}
.closeButton img:hover{
    cursor:pointer;
}
a.active{
    /* background-color: aqua; */
    color:#D16432 !important;
}
.policyLinks{
    padding:5px;
    /* background-color:aqua; */
    text-align: center;
   
}
.policyLinks a{
    margin:5px;
    color: #ffffb3;
    font-family: "avenir";
}


@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(359deg);
    }
    to {
            -webkit-transform: rotate(0deg);
    }
}

/*==== Media Queries =====*/


@media screen and (min-width: 1500px) {
    body {
        background-size: cover;
    }
  }
@media only screen and (max-width: 600px) {
  
    header {
      /* background-color: lightblue; */
      width:98%;
    }
    .menu{
        /* background:green; */
        display: -webkit-flex;
        display:flex;
        -webkit-align-items:center;
        align-items: center;
        justify-content:space-around;
        -webkit-justify-content: space-around;
        width:30%;
        
    }
   
    .middleLogo p{
        display:none;
    }
    .cartItems{
        width: 25%;
        /* background:blue; */
       margin-right: 5%;
    }
    .rotatedLogo{
        /* background:gray; */
        width: 100%;
    }
    .accesoriesDiv{
        /* background:blue; */
        width: 100%;
    }
    .accesoriesDiv p{
        width: 100%;
        /* background:aqua; */
    }
    .goodHealthDiv{
        /* background:blue; */
        width: 100%;
    }
    .goodHealthDiv p{
        /* background:gray; */
        width: 90%;
        margin-left:none;
        margin-right: none;
    }
    .inputDiv{
        width: 100%;
        /* background:gainsboro; */
    }
    .inputDiv form{
        width: 100%;
    }
    .iconsDiv{
        width: 100%;
        /* background:rgb(58, 58, 52); */

    }
    .icons{
        width: 100%;
        text-align: center;
    }
    .sideMenus{
        width:100%;
       
    }
    .sideMenus ul{
        /* background-color:blue; */
        margin-top:40%;
        list-style-type: none;
    }
    .sideMenus ul li{
        margin:20px;
    }
  
  }











